---
interface Props {
	name: string
	points: number
}

const { name, points } = Astro.props
---

<div>
	<div class="flex items-center justify-between">
		<div class="flex items-center gap-4">
			<div class="font-medium">{name}</div>
			<div class="text-sm text-muted-foreground">9-7</div>
		</div>
		<div class="font-medium text-muted">{points} Games</div>
		<div class="font-medium text-primary">{points} Victory</div>
		<div class="font-medium text-primary">{points} Draw</div>
		<div class="font-medium text-primary">{points} Lost</div>
		<div class="font-medium text-primary">{points} WS</div>
		<div class="font-medium text-primary">{points} LS</div>
		<div class="font-medium text-primary">{points} PTS</div>
	</div>
</div>
