---
import BreadCrumb from "@/components/BreadCrumb.astro";
import Enroll from "@/components/ui/Enroll.tsx";
import Leave from "@/components/ui/Leave.tsx";
import { getStatusClass } from "@/components/ui/utils.tsx";
import { TranslationKey } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import {
	type ChampionshipDto,
	type ChampionshipUserProfileDto,
	type GroupDto,
} from "@/services/api";
import { getApi, getFormattedDate, getRequestParams } from "@/services/utils";
import { UserIcon } from "@heroicons/react/24/outline";
import { getSession } from "auth-astro/server";
const t = useTranslations(Astro.url);

const { id } = Astro.params;

const session = await getSession(Astro.request);

const api = getApi();

let championship: ChampionshipDto = {};
let userProfile: ChampionshipUserProfileDto = {};
let groups: GroupDto[] = [];

try {
	if (!id) {
		Astro.redirect("/championships/not-found");
	}

	const championshipResponse =
		await api.api.padelmastersApiDomainEndpointsChampionshipsGetChampionship(
			id || "",
			getRequestParams(session)
		);

	if (championshipResponse.ok) {
		championship = championshipResponse.data.Championship?.Championship || {};
		userProfile = championshipResponse.data.Championship?.UserProfile || {};
		groups = championshipResponse.data.Groups || [];
	} else {
		// 404
		Astro.redirect("/championships/not-found");
	}
} catch (e) {
	console.error(e);
}
---

<Layout title=`Padel Masters - Championship ${championship.Name} `>
	<section class="w-full pt-2 md:pt-2 lg:pt-2">
		<div class="overflow-hidden rounded-lg bg-background shadow-md">
			<div class="px-4">
				<BreadCrumb pages={[{ name: "Championships", href: "/championships" }]} />
			</div>
			<div class="p-4">
				<div class="mb-2 flex items-center">
					<h2 class="mb-2 text-xl font-bold">
						{championship.Name}
					</h2>
					{
						userProfile.UserIsRegistered && (
							<UserIcon aria-hidden="true" className="ml-auto h-6 w-6 text-supporting-cyan-600" />
						)
					}
				</div>
				<p class="mb-4 text-muted-foreground">{championship.Description}</p>
				<div class="mb-4 flex items-center justify-between">
					<div>
						<span class="font-medium">{t(TranslationKey.ChampionshipsStartDate)}:</span>{" "}
						{getFormattedDate(championship.StartDate)}
					</div>
					<div>
						<span class="font-medium">{t(TranslationKey.ChampionshipsEndDate)}:</span>{" "}
						{getFormattedDate(championship.EndDate)}
					</div>
				</div>
				<div class="flex items-center justify-between">
					<span
						class={`rounded-full px-2 py-1 text-xs font-medium ${getStatusClass(championship.Status)}`}
					>
						{championship.Status}
					</span>
				</div>
			</div>
			<div class="w-full rounded-lg bg-background md:w-auto">
				{
					userProfile.UserCanJoin && (
						<Enroll client:load championshipId={id || ""} text={t(TranslationKey.ActionEnroll)} />
					)
				}
				{
					userProfile.UserCanLeave && (
						<Leave client:load championshipId={id || ""} text={t(TranslationKey.ActionLeave)} />
					)
				}
			</div>
		</div>
		<div class="p-12">
			<a
				href={`/championships/${id}/A`}
				class="text-m rounded-md bg-vivid-800 px-6 py-2 text-primary-foreground transition-colors hover:bg-vivid-900"
			>
				League Standings (temp)
			</a>
		</div>
		<div class="grid grid-cols-2 gap-4 p-4 sm:grid-cols-3 md:grid-cols-4">
			{
				groups.map((group) => (
					<div class="overflow-hidden rounded-lg bg-card shadow-md">
						<div class="bg-vivid-600 px-4 py-2 text-center text-primary-foreground">
							<h4 class="text-md">{group.Name}</h4>
						</div>
						{/* <div class="p-4 space-y-2">
                {group.teams.map((team) => (
                  <div key={team.name} className="flex items-center justify-between">
                    <span className="text-sm font-medium">{team.name}</span>
                    <span className="text-sm text-muted-foreground">{team.points} pts</span>
                  </div>
                ))}
              </div> */}
					</div>
				))
			}
		</div>
	</section>
</Layout>
